version: '3.3'

services:
  db:
    image: mariadb:10.5.4
    env_file: .env
    volumes:
      - ./db/sql/${DIRECTUS_DATABASE_DUMP}:/docker-entrypoint-initdb.d/00_${DIRECTUS_DATABASE_DUMP}
      - ./db/sql/${APP_ENVIRONMENT}.sql:/docker-entrypoint-initdb.d/10_${APP_ENVIRONMENT}.sql
      - db:/var/lib/mysql

  directus:
    build: ./directus
    command: [ "directus-entrypoint", "apache2-foreground" ]
    entrypoint: [ "wait-for-it", "--strict", "-t", "${MYSQL_WAIT_TIMEOUT}", "db:3306", "--"  ]
    env_file: .env
    labels:
      - traefik.enable=${DIRECTUS_TRAEFIK_ENABLE}
      - traefik.http.routers.${TRAEFIK_PREFIX}-directus.rule=${DIRECTUS_TRAEFIK_RULE}
      - traefik.http.routers.${TRAEFIK_PREFIX}-directus.entrypoints=web
    volumes:
      - directus_uploads:/var/directus/public/uploads

volumes:
  db: ~
  directus_uploads: ~
