version: '3.3'

services:
    adminer:
        image: adminer:latest
        labels:
          - traefik.enable=${ADMINER_TRAEFIK_ENABLE}
          - traefik.http.routers.${TRAEFIK_PREFIX}-adminer.rule=${ADMINER_TRAEFIK_RULE}
          - traefik.http.routers.${TRAEFIK_PREFIX}-adminer.entrypoints=web
